server:
  port: 8071
spring:
  application:
    name: configserver
  profiles:
    active:
    - git 
  cloud:
    config:
      server:
        git:
          uri: git@github.com:hari0409/eazybytes-config.git # Repo URL
          default-label: main # Branch
          timeout: 5 # Time to wait for the request to complete
          clone-on-start: true # Else cloned on first request 
          force-pull: true # Override all the local changes 
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

encrypt:
  key: "45D81EC1EF61DF9AD8D3E5BB397F9"

management:
  endpoints:
    web:
      exposure:
        include:
        - "*"