server:
  port: 8090
spring:
  application:
    name: accounts
  profiles:
    active:
    - "qa" # Activate this profile by default
  config:
    import:
    - "optional:configserver:http://localhost:8071/" # Must be "configserver" no matter what
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: ''
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true